body {
  font-family: 'Lato', sans-serif !important;
  
}

hr {
  position: absolute !important;
  top: 100% !important;
  bottom: 0px !important;
  width: 100% !important;
  height: 1px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
}

.navbar-brand {
  margin-right: 0 !important;
}

.navbar-toggler {
  padding: 0 !important;
}

@media screen and (max-width: 600px) {
  .display-4 {
    font-size: 2.5rem !important;
  }

  ul {
    font-size: 1.4rem !important;
    padding-left: .8rem !important;
  }
}

@media screen and (min-width: 601px) {
  .display-4 {
    font-size: 3rem !important;
  }

  ul {
    font-size: 1.8rem !important;
  }
}

.MuiTypography-h4 {
  font-size: 2rem !important;
}

.timeline {
  font-family: 'Lato', sans-serif !important;
}

.carousel-item {
  height: 72vh;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

#root {
  background-image: linear-gradient(90deg, rgb(52, 58, 64) 0%, rgba(0, 150, 136, 1) 100%);
}

.web-bg {
/* green-dust-and-scratches.png, stardust/png,  */
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  background-size: 60%;
  background-repeat: repeat-y;
  
}



.link {
  border-bottom: 0.2rem solid rgb(52, 58, 64);
}

.link:hover {
  border-bottom: 0.2rem solid rgb(0,150,136);
}

h4:hover {
  color:rgb(0, 150, 136);
}

.custom-menu {
  border: 2px solid rgb(52, 58, 64) !important;
  
}

.custom-menu:hover {
  border: 2px solid rgb(0, 150, 136) !important;
  
}
